/* timer.component.css */
.timer-config {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px; /* Espacement entre les éléments */
}

.timer-config label {
  margin: 10px ;
  width: 100%;
  max-width: 300px;
}

.timer-config input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.timer-display {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

h1, h2 {
  font-size: calc(1.5rem + 1vw); /* Responsive font size */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .timer-config label {
    max-width: 75%;
  }

  button {
    width: 100%;
    max-width: 300px;
  }
}

.timer-config mat-slider {
  margin: 10px ;
  width: 100%;
  max-width: 300px;
}

.button-group {
  display: flex; /* Flexbox pour aligner horizontalement */
  justify-content: space-evenly; /* Répartition uniforme des boutons */
  align-items: center; /* Alignement vertical au centre */
  gap: 8px; /* Espacement entre les boutons */
  padding: 0; /* Aucune marge intérieure */
  overflow: hidden; /* Évite le scroll horizontal */
}

.button-group button {
  flex: 0 0 auto; /* Taille automatique sans flex-grow */
  width: 48px; /* Taille fixe pour les boutons */
  height: 48px; /* Taille fixe pour les boutons */
  margin: 0; /* Supprime les marges */
  padding: 0; /* Supprime les paddings */
}

mat-icon {
  font-size: 24px; /* Taille réduite des icônes */
}



