<div class="time-display-container">
    <svg class="time-display" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
        <!-- Texte affichant le temps restant avec couleur dynamique -->
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="3rem"
            [attr.stroke]="timeLeft === 0 ? 'blue' : (currentPhase === 'Active' ? 'red' : 'blue')" fill="none"
            [attr.textLength]="'90%'">
            {{ formatTime(timeLeft) }}
        </text>


    </svg>
    <div *ngIf="true == displayRound">
        <h2>Round: {{ currentRound }} / {{ rounds }}</h2>
    </div>
</div>