<div class="circle-timer-container">
    <svg class="circle-timer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
        <circle class="circle" cx="18" cy="18" r="15.915" stroke="blue" fill="none" stroke-width="2" 
        [attr.stroke]="currentPhase === 'Active' ? 'red' : 'blue'"/>
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="4" fill="black">
            {{ timeLeft }}
        </text>
    </svg>
    <h2>Round: {{ currentRound }} / {{ rounds }}</h2>
</div>