.custom-timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-wheel-container {
  display: flex;
  justify-content: space-between; /* Espacement égal entre chaque roue de temps */
  width: 100%; /* On occupe toute la largeur disponible */
  max-width: 600px; /* Limite la largeur des time-wheels */
  margin-bottom: 20px;
}

.time-wheel {
  flex: 1; /* Chaque roue occupe un tiers de la largeur disponible */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-wheel-header {
  font-size: 18px;
  font-weight: bold;
}

.time-wheel-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 200px;
}

.time-option {
  padding: 5px;
  cursor: pointer;
}

.time-option.selected {
  background-color: #f0f0f0;
}

.timer-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.timer-actions button {
  margin: 5px;
}

.timer-display {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}
